<!doctype html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<html>
  <head>
    <title>Последние задания</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-light" href="/">Главная страница</a>
                <a class="nav-link text-light" href="/tasks">Последние задания </a>
                <a class="nav-link text-light" href="http://localhost:8000/admin/mainhws/article/add/">Добавить задание</a>
            </div>
        </div>
    </nav>
  </header>
  <body>
    <div class="jumbotron jumbotron-fluid bg-light text-dark">
        <div class="container ">
            <h1 class="display-4 font-weight-normal">Планировщик домашнего задания</h1>
        </div>
    </div>
    <div class="album">
        <div class="container mt 5">
            <div class="row">
                {%for i in subject_names%}
                    <div class="card bg-light m-3" style="width: 21rem;">
                        <div class="card-header" >
                            <h4 class="font-weight-normal">{{i}}</h4>
                        </div>
                        <div class="card-body ">
                            <br>
                            <a href="{{i}}"
                                class="btn btn-outline-primary" >Подробнее</a>
                            
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
  </body>
  <footer>
    <footer class="text-muted">
        <br>
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Планировщик домашнего задания</p>
            <p class="float-right">DjangoEdition</p>
            <p><a href="mailto:gogaigd2005@gmail.com">Почта технической поддержки</a> </p>
            
        </div>
        <br>
    </footer>
  </footer>
</html>